/* ======================== cart ======================== */

#cart {
    margin: 10vh 10vw;
    background-color: aqua;
}


/* Cart */

.cart-open-btn {
    border: none;
    background: transparent;
    text-align: left;
    color: #fff;
    padding-left: 1rem;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1rem;
}

.cart-open-btn:hover {
    background-color: var(--main-color-dark);
}

.cart-overlay {
    position: fixed;
    width: 100%;
    height: 101vh;
    background: rgba(10, 10, 10, 0.5);
    top: -1.5rem;
    left: 0;
    z-index: 1001;
    visibility: hidden;
}

.cart-overlay.show {
    visibility: visible;
}

.cart-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: #fff;
    padding: 2rem 1rem;
    overflow: auto;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.show .cart-wrapper {
    transform: translateX(0);
}

.cart-header {
    width: 100%;
    height: 5rem;
}

.close-cart {
    border: none;
    background: transparent;
    color: crimson;
    cursor: pointer;
    font-size: 1.5rem;
}

.cart-header h1 {
    text-align: center;
    font-size: 2rem;
}

.cart-product {
    display: flex;
    margin: 1rem 0;
    border-radius: 1rem;
    overflow: hidden;
    background: #eee;
    box-shadow: 0 0 5px gray;
}

.cart-product img {
    width: 50%;
    max-height: 6rem;
    margin-right: 1rem;
    object-fit: cover;
}

.detail-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 30%;
}

.detail-product .icon i {
    color: rgb(101, 212, 101);
}

.detail-product .price {
    color: rgb(185, 185, 53);
}

.cart-product .btn-center {
    display: grid;
    place-items: center;
    width: 20%;
}

.remove-product {
    background: transparent;
    border: none;
    color: crimson;
    font-size: 2rem;
    cursor: pointer;
}

.cart-footer {
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.cart-footer .total {
    font-size: 1rem;
}

.cart-footer .checkout {
    font-size: 1.5rem;
}

.checkout-btn {
    border: none;
    background: rgb(98, 207, 98);
    padding: 0.4rem 1rem;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}

.clear-btn {
    border: none;
    background: rgb(207, 98, 98);
    padding: 0.4rem 1rem;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}