/* ======================== cart ======================== */

#cart {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 15vh 15vw;
}

#cart header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.item-product {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    display: flex;
    margin: 10px 0;
    border: 1px solid #00000025;
    /* border-radius: 8px; */
}

.img-product {
    background-color: rgba(0, 0, 0, 0.342);
    min-width: 150px;
    height: 100%;
    background-position: center;
    background-size: cover;
    /* background-image: url(../assets/images/san_pham_1.jpg); */
}

.info-product {
    /* background-color: blue; */
    flex-grow: 1;
    height: 150px;
    padding: 10px;
    display: flex;
}

.name-price {
    flex-grow: 1;
}

.name-product {
    width: 100%;
    font-size: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-product {
    color: red;
    font-size: 1em;
}

.quantity-product {
    /* background-color: aqua; */
    width: min-content;
    display: flex;
    align-items: center;
}

.quantity-product input {
    /* background-color: aqua; */
    width: 150px;
    outline: none;
    padding: 10px;
    margin-right: 10px;
}

.sum-price-product {
    /* background-color: yellowgreen; */
    min-width: 150px;
    display: flex;
    align-items: center;
}

.delete-product {
    /* background-color: rgb(199, 206, 185); */
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-product img {
    width: 30px;
    cursor: pointer;
}

.delete-product img:hover {
    filter: contrast(5000%);
}

.checkout>p {
    text-align: right;
}

.checkout div {
    text-align: right;
}

@media screen and (max-width:1024px) {
    #cart {
        margin: 15vh 1vw;
    }
}

@media screen and (max-width:1024px) {
    #cart {
        margin: 15vh 1vw;
    }
    .quantity-product input {
        width: 80px;
    }
}

@media screen and (max-width:768px) {
    .info-product {
        flex-direction: column;
    }
    .quantity-product input {
        width: 150px;
    }
}


/* =============================== cart empty ============================ */

#empty-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#empty-cart div {
    background-image: url(../assets/icons/empty-cart.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}

#empty-cart h5 {
    font-size: 1.5em;
    margin: 10px;
    color: #043f5c;
}

#empty-cart h6 {
    font-size: 1.2em;
    font-style: italic;
    color: #a5a5a5;
}