:root {
    --main-color: #2783B2;
    --main-color-dark: #043f5c;
    --main-color-dark-50: #043f5cbe;
    --main-color-dark-20: #043f5c49;
    --second-color: #2f2f2f;
    --bg-color: #ffffff;
    --color_nav: #f5f5f5;
    --font-fam: 'Lato', sans-serif;
    --rad: 0.5rem;
    --dur: 0.3s;
    --height-searchbar: 3rem;
    --btn-width: 3.5rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font-fam);
    font-size: 1.02em;
    /* box-sizing: border-box; */
}

html {
    min-width: 500px;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%
}

section {
    margin: 20px 0px;
}


/* ======================== about us ======================== */

#contact {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 10vh 5vw;
}

#contact header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#contact>p {
    font-size: 1.2em;
    font-style: italic;
    color: #a3a2a2;
    text-align: center;
}

.contact-item {
    width: 100%;
    display: flex;
    margin-top: 10vh;
}

.contact-img {
    background-color: #2784b22c;
    width: 50%;
    min-height: 350px;
    background-image: url('../assets/images/blog1.jpg');
    background-size: cover;
    background-position: center;
}

.contain-contact-info {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .contact-item {
        flex-direction: column;
    }
    .contact-img {
        width: 100%;
    }
}