/* ======================== about us ======================== */

#contact {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 15vh 5vw;
}

#contact header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#contact>p {
    font-size: 1.2em;
    font-style: italic;
    color: #a3a2a2;
    text-align: center;
}

.contact-item {
    width: 100%;
    display: flex;
    margin-top: 10vh;
}

.contact-img {
    background-color: #2784b22c;
    width: 50%;
    min-height: 350px;
    background-image: url('../assets/images/blog4.jpg');
    background-size: cover;
    background-position: center;
}

.contain-contact-info {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .contact-item {
        flex-direction: column;
    }
    .contact-img {
        width: 100%;
    }
}