/* ============================= detail blog ============================= */

#detail-blog {
    margin-top: 10vh;
}

#detail-blog header {
    background-color: #f5f5f5;
    background-image: url('../assets/images/slideshow_2.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-blog header h5 {
    font-size: 3em;
    background-color: var(--main-color-dark-50);
    color: #ffffff;
    padding: 10px 50px;
    text-align: center;
}

#content-blog {
    padding: 5vh 10vw;
    font-size: 1.2em;
    text-align: justify;
}

#content-blog h6 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.date-post {
    color: #969696;
    font-style: italic;
    margin-bottom: 10px;
}