:root {
    --main-color: #2783B2;
    --main-color-dark: #043f5c;
    --main-color-dark-50: #043f5cbe;
    --main-color-dark-20: #043f5c49;
    --second-color: #2f2f2f;
    --bg-color: #ffffff;
    --color_nav: #f5f5f5;
    --font-fam: 'Lato', sans-serif;
    --rad: 0.5rem;
    --dur: 0.3s;
    --height-searchbar: 3rem;
    --btn-width: 3.5rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font-fam);
    font-size: 1.02em;
    box-sizing: border-box;
}

html {
    min-width: 500px;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
}


/* ======================== main ======================== */

main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%
}

section {
    margin: 20px 0px;
}


/* ======================== Định nghĩa Slide show ======================== */

#slide-show {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 400vw;
    height: 100vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: 100vh;
    transition: 2s;
}

.slide-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#slide-img-1 {
    background-image: url("../assets/images/slideshow_1.jpg");
}

#slide-img-2 {
    background-image: url("../assets/images/slideshow_2.jpg");
}

#slide-img-3 {
    background-image: url("../assets/images/slideshow_3.jpg");
}

#slide-img-4 {
    background-image: url("../assets/images/slideshow_1.jpg");
}


/* manual slide */

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 95vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--main-color);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}


/* automatic slide */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 95vh;
}

.navigation-auto div {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: var(--main-color);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: var(--main-color);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: var(--main-color);
}


/* ======================== Danh mục sp ======================== */

#list-sp {
    margin: 80px 0px;
    padding: 10px 80px;
}

#list-sp header {
    color: var(--main-color-dark);
    font-size: 2em;
}

.contain-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

.item-san-pham {
    background-color: #ffffff;
    display: flex;
    width: 400px;
    height: 150px;
    margin: 30px 0px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
}

.item-san-pham:hover {
    box-shadow: 10px 10px 10px #D6D6D6;
}

.img-sp {
    min-width: 150px;
    height: 150px;
    background-color: rebeccapurple;
    background-size: cover;
}

.info-sp {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sp-name {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5em;
}

#san-pham-1 {
    background-image: url('../assets/images/san_pham_1.jpg');
}

#san-pham-2 {
    background-image: url('../assets/images/san_pham_2.jpg');
}

#san-pham-3 {
    background-image: url('../assets/images/san_pham_3.jpg');
}

#san-pham-4 {
    background-image: url('../assets/images/san_pham_4.jpg');
}

#san-pham-5 {
    background-image: url('../assets/images/san_pham_5.jpg');
}

#san-pham-6 {
    background-image: url('../assets/images/san_pham_6.jpg');
}


/* ======================== Detail ======================== */

#detail-shop {
    width: 100%;
    margin: 10px 0px;
}

#detail-01 {
    background: url('../assets/images/detail01.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-01 p {
    color: #ffffff;
    font-size: 8vw;
    background-color: var(--main-color-dark-50);
    padding: 30px 100px;
    font-weight: bold;
}

#logo-detail {
    width: 20%;
}

.contain-detail2 {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#detail-02 {
    background-image: url('../assets/images/detail02.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#detail-02 div {
    background-color: #2f2f2f5b;
    width: 40%;
    min-width: 250px;
    height: 100%;
    padding: 20px;
}

#detail-02 h5 {
    color: var(--main-color);
    font-size: 3em;
}

#detail-02 hr {
    background-color: var(--main-color);
    height: 1px;
    border: 0;
}

#detail-02 p {
    color: #ffffff;
}

#detail-03 {
    background-image: url('../assets/images/detail04.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
}

#detail-03 div {
    background-color: var(--main-color-dark-20);
    width: 50%;
    height: 100%;
    min-width: 250px;
    font-size: 3em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-04 {
    background-size: cover;
    background-position: center;
    */ width: 100%;
    height: 50vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-04 img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin: 20px;
}

#detail-04 div {
    width: 250px;
    color: #ffffff;
    text-align: end;
}

#detail-04 h5 {
    font-size: 3em;
}

#detail-04 a:hover {
    color: var(--main-color-dark);
}


/* ======================== Danh mục blog ======================== */

#list-blog {
    margin: 80px 0px;
    padding: 10px 80px;
}

#list-blog header {
    color: var(--main-color-dark);
    font-size: 2em;
}

.item-blog {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px 0px;
    cursor: pointer;
}

.img-blog {
    background-color: rebeccapurple;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-blog:hover {
    box-shadow: 10px 10px 10px #D6D6D6;
}

.info-blog {
    display: flex;
    height: max-content;
    justify-content: space-between;
}

.date {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.month-year {
    background-color: var(--main-color);
    text-align: center;
    padding: 5px 0px;
    color: #ffffff;
}

.blog-detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blog-detail h5 {
    font-size: 1.4em;
}

.blog-detail h6 {
    font-size: 1.1em;
    font-weight: 100;
    color: #D6D6D6;
}

.blog-detail p {
    margin-top: 10px;
    font-size: 0.9em;
}

#blog1 {
    background-image: url("../assets/images/blog1.jpg");
}

#blog2 {
    background-image: url("../assets/images/blog2.jpg");
}

#blog3 {
    background-image: url("../assets/images/blog3.jpg");
}


/* ======================== Subcribe ======================== */

#subcribe {
    background-color: var(--main-color-dark-20);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    padding: 100px 0px;
}

#subcribe h5 {
    color: var(--second-color);
    font-size: 40px;
}

#subcribe div {
    margin: 20px 10px;
    display: flex;
}

#subcribe input {
    font-size: 1.1em;
    padding: 10px;
    border: 0;
    outline: none;
    width: 500px;
}

#subcribe button {
    font-size: 1.3em;
    padding: 10px;
    border: 0;
    outline: none;
    background-color: var(--main-color);
    color: #ffffff;
    cursor: pointer;
}

#subcribe button:hover {
    background-color: var(--main-color-dark);
}


/* ======================== Back to Top ======================== */

#btnToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--main-color-dark-50);
    background-image: url("../assets/icons/back-to-top.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#btnToTop:hover {
    background-color: var(--main-color-dark);
    filter: drop-shadow(0px 0px 5px var(--main-color-dark));
}


/* ======================== Reponsive ======================== */

@media (max-width: 1500px) {
    .contain-list {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 1000px) {
    .contain-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #list-sp header {
        text-align: center;
    }
    #list-blog header {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #footer1 {
        flex-direction: column;
        align-items: center;
    }
    #hr-footer {
        width: 90%;
    }
    .contain-detail2 {
        flex-direction: column;
    }
    #detail-02 {
        height: 50vh;
    }
    #detail-02 div {
        width: 100%;
        height: -webkit-fill-available;
    }
    #detail-03 div {
        width: 100%;
        height: -webkit-fill-available;
    }
    #detail-04 img {
        width: 30vw;
        height: 30vw;
    }
    #subcribe input {
        width: 200px;
    }
    #detail-01 p {
        padding: 10px 0px;
        font-size: 3em;
        width: 100%;
        text-align: center;
        margin: auto;
    }
}