/* ======================== Hearder ======================== */

#products {
    margin-top: 0px;
}

#products header {
    width: 100%;
    height: 400px;
    margin-top: 10vh;
    background-image: url('../assets/images/detail01.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#products header p {
    background-color: var(--main-color-dark-50);
    padding: 50px 0px;
    text-align: center;
    font-size: 10vh;
    font-weight: bolder;
    color: #ffffff;
    width: 100%;
}


/* ======================== list ======================== */

#contain-products {
    display: flex;
    flex-direction: column;
    padding: 0px 5vw;
}

#control-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#control-product div {
    display: flex;
    align-items: center;
}

#control-product div p {
    margin-right: 10px;
}

#control-product>p {
    color: var(--main-color-dark);
    font-size: 1.5em;
}

#control-product select {
    border: 0;
    outline: none;
    padding: 5px 10px;
    background-color: var(--main-color);
    color: #ffffff;
}

#control-product option {
    padding: 5px 10px;
    background-color: var(--main-color);
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
}

.product-item {
    width: 250px;
    margin: 30px 0px;
    cursor: pointer;
}

.product-item:hover {
    box-shadow: 0px 0px 10px var(--main-color-dark);
}

.img-product {
    width: 100%;
    height: 250px;
    background-color: var(--main-color-dark-20);
    background-position: center;
    background-size: cover;
}

.info-product {
    padding: 10px 5px;
}

.name-product {
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.old-price-product {
    font-size: 0.8em;
    color: #aca9a9;
    text-decoration: line-through;
}

.new-price-product {
    font-size: 1em;
    color: var(--main-color-dark);
    font-weight: bolder;
}

.add-to-cart button {
    width: 100%;
    padding: 12px;
    background-color: var(--main-color);
    outline: none;
    border: 0;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
}

.add-to-cart button:hover {
    background-color: var(--main-color-dark);
}

@media screen and (max-width:1220px) {
    .list-products {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width:900px) {
    .list-products {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width:600px) {
    .list-products {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}