@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    min-width: 750px;
    min-height: 500px;
    background-color: #ff6b6b;
    @extend .flex-center;
}

.slide-container {
    width: 750px;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 9px 10px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
    transition: 1s;
    .image-container {
        height: 100%;
        img {
            height: 100%;
        }
        figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 15%;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            background-color: rgba(0, 0, 0, 0.2);
            a {
                color: white;
                font-size: 1.5rem;
                font-family: "Raleway", sans-serif;
                text-decoration: unset;
            }
        }
    }
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
    @for $i from 1 to 6 {
        &#radio#{$i}:checked~.controls #label#{$i} {
            background-color: white;
        }
        &#radio#{$i}:checked~.slides {
            margin-left: -100% * ($i - 1);
        }
    }
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    pointer-events: none;
    .control {
        display: block;
        width: 1.1rem;
        height: 1.1rem;
        border: 2px solid white;
        border-radius: 100%;
        margin-left: 0.5rem;
        cursor: pointer;
        pointer-events: initial;
        background-color: rgba($color: #000000, $alpha: 0.2);
        transition: 0.5s;
        &:hover {
            background-color: rgba($color: #fff, $alpha: 1);
        }
    }
}