/* ======================== Aside ======================== */

#menu-account {
    padding: 15px 0px 0px 15px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10vh 5vw;
}

.aside {
    margin-right: 17px;
    min-width: 250px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.avatar-name {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.name {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

.avatar-small {
    margin-right: 12px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.avatar-small:hover {
    cursor: pointer;
    border-color: var(--main-color);
    border: 3px;
}

.aside a {
    display: flex;
    align-items: center;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
}

.aside li:hover {
    cursor: pointer;
    background-color: gainsboro;
    color: white;
    border-radius: 5px;
}

.aside li:active {
    background-color: deepskyblue;
}

#icon-small {
    height: 24px;
    width: 24px;
    margin: 0px 10px 0px 0px;
}

#text-small {
    color: #000000;
}

.aside li {
    list-style: none;
}


/* ======================== Information Account ======================== */

.information-account {
    box-sizing: border-box;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
}

.information-account h3 {
    display: block;
    font-size: 20px;
    margin: 20px 0px 15px 0px;
    padding-left: 20px;
}

.information-account-form {
    padding: 20px;
    border-radius: 20px;
}

.form-lable {
    padding-bottom: 15px;
    align-items: center;
    display: flex;
}

.input-lable {
    width: 150px;
    min-width: 120px;
}

.input-zone {
    flex: 1 1 0%;
    border: 1px solid;
    border-radius: 5px;
    height: 35px;
    width: 370px;
    padding: 6px 12px;
    outline: none;
    font-size: 100%;
}

.input-radio-lable {
    margin-right: 15px;
    width: 14px;
    height: 14px;
    transform: scale(1);
}

.input-radio {
    margin-right: 10px;
}

select {
    flex: 1 1 0%;
    width: 110px;
    border: 1px solid;
    height: 35px;
    padding: 6px 12px;
    outline: none;
    margin-right: 15px;
    background: center;
    font-size: 100%;
    border-radius: 5px;
}

.btn-submit {
    width: 150px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    background-color: lightskyblue;
    outline: none;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}


/* ======================== Reponsive ======================== */

@media (max-width: 1024px) {
    .form-lable {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #menu-account {
        flex-direction: column;
    }
    .aside {
        margin-bottom: 20px;
    }
}